<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConsoleApp2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="SqlServices" connectionString="Data Source=localhost;Initial Catalog=malwr;Integrated Security=True;" />
  </connectionStrings>
  <system.web>
    <authentication mode="Forms" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="32768" />
    <customErrors mode="Off" />
    <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="15">
      <providers>
        <remove name="AspNetSqlProvider" />
        <add name="SqlProvider"
          type="System.Web.Security.SqlMembershipProvider, System.Web,&#xD;&#xA;      Version=2.0.0.0, Culture=neutral,&#xD;&#xA;      PublicKeyToken=b03f5f7f11d50a3a"


          connectionStringName="SqlServices"
              enablePasswordRetrieval="false"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="true"
             requiresUniqueEmail="true"
             minRequiredNonalphanumericCharacters="0"
             passwordFormat="Hashed"
          applicationName="SecuredStorage" />
      </providers>
    </membership>
    <identity impersonate="true" userName="FYPJ" password="password" />
  </system.web>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <ConsoleApp2.Properties.Settings>
      <setting name="ConsoleApp2_SubmitSample_Submit" serializeAs="String">
        <value>https://www.malwarefypj.com/webservice/Submit.asmx</value>
      </setting>
    </ConsoleApp2.Properties.Settings>
  </applicationSettings>
</configuration>